<%= render 'shared/navbar' %>
<h1 class="title">To-do List</h1>

<div class="container my-5">
  <div class="tasks-list-container">
    <p>Today's Tasks</p>

    <% @lists.each do |list| %>
      <div class="task">
        <div class="check-box"></div>
        <%= list.name %>
      </div>
    <% end %>
  </div>

  <div class="container">
    <% @tasks.each_with_index do |task, index| %>
      <li>
        <h2 class='mt-5'><%= task.name %></h2>
        <p><%= task.description %></p>
        <% if task.done %>
          <p>Comment: <%= task.comment %></p>
          <p>Task completed on <%= (task.updated_at + 4.hours).strftime("%a %b %e at %l:%M %p") %></p>
        <% else %>
          <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target=<%= "#exampleModal#{index}" %>>Mark as done</button>
        <% end %>

        <div class="modal fade" id=<%= "exampleModal#{index}"%> tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel"><strong><%= task.name %></strong> - <%= task.description %></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <%= simple_form_for(task) do |f| %>
                  <%= f.input :comment, placeholder: 'Enter your comments here' %>
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  <%= f.button :submit, 'Save changes', class: 'btn btn-primary' %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </li>
    <% end %>
  </div>

</div>
