<div id="message-<%= message.id %>" class="msg">
  <% if message.user.photo.attached? %>
    <%= cl_image_tag message.user.photo.key, class:"avatar avatar-msg" %>
  <% else %>
    <%= cl_image_tag 'avatar', class:"avatar avatar-msg" %>
  <% end %>
  <div class="content">
    <p>
      <%= message.content %>
      <p class="timer"><%= (message.created_at + 4.hour).strftime("%l:%M %p") %></p>
    </p>
  </div>
</div>
