<%= render "shared/navbar" %>
<h1 class="title">Wikiplant</h1>

<%= form_with url: "", method: :get, class: "d-flex search-bar mb-5" do %>
  <%= text_field_tag :query,
    params[:query],
    class: "form-control",
    placeholder: "Search for plants"
  %>
<% end %>

<div class="container">
  <p class="mb-5 text-centred">Categories</p>

  <div class="category-cards">
    <div class="card">
      <p><%= link_to 'Fruits & Vegetables', controller: 'plants', action: 'index', query: 'Fruits & Vegetables' %></p>
    </div>
    <div class="card">
      <p><%= link_to 'Herbs', controller: 'plants', action: 'index', query: 'Herbs' %></p>
    </div>
    <div class="card">
      <p><%= link_to 'Water & Aquatic', controller: 'plants', action: 'index', query: 'Water & Aquatic' %></p>
    </div>
    <div class="card">
      <p><%= link_to 'Trees', controller: 'plants', action: 'index', query: 'Trees' %></p>
    </div>
  </div>

  <p class="mt-4 text-centred">All plants in library</p>

  <div class="plant-cards">
    <% @plants.each do |plant| %>
      <div class="card">
        <%= link_to plant_path(plant) do %>

          <% if plant.photo.attached? %>
            <div class="img" style="background-image:url('<%= cl_image_path plant.photo.key %>')";></div>
          <% else %>
            <div class="img-none"><p>No Image</p></div>
          <% end %>

          <div class="text">
            <p class='text-center'><strong><%= plant.name %></strong></p>
            <p class='mb-1'><%= plant.scientific_name %></p>
            <p>Origin: <%= plant.origin %></p>
          </div>

        <% end %>
      </div>
    <% end %>
  </div>

  <p class="text-centred my-5"><%= link_to "Load more", plants_path(@plant), class: "btn btn-normal" %></p>
</div>

<%= render "shared/footer" %>
