<%= render "shared/navbar" %>
<h1 class="title">Wikiplant</h1>

<%= form_with url: "", method: :get, class: "d-flex search-bar mb-5" do %>
  <%= text_field_tag :query,
    params[:query],
    class: "form-control",
    placeholder: "Search for plants"
  %>
<% end %>

<div class="container">
  <p class="mb-5 text-centred section-title">Categories</p>

  <div class="category-cards">
    <% Category.all.each do |category| %>
      <%= link_to controller: 'plants', id: category do %>
        <div class="card" style="background-image:url(<%= cl_image_path category.photo.key %>)">
          <p><%= category.name %></p>
        </div>
      <% end %>
    <% end %>
</div>

  <p class="mt-5 text-centred section-title">All plants in library</p>

  <div class="contenedorCards">
    <% @plants.each do |plant| %>
      <div class="card">
        <%= link_to plant_path(plant) do %>
          <div class="wrapper">
            <div class="colorProd"></div>
            <% if plant.photo.key.nil? %>
              <p>No image</p>
            <% else %>
            <div class="imgProd" style="background-image: url('<%= cl_image_path plant.photo.key %>');"></div>
            <% end %>
            <div class="infoProd">
              <p class="nombreProd"><%= plant.name %></p>
              <p class="extraInfo"><strong><%= plant.scientific_name %></strong></p>
              <p class="extraInfo"><strong>Origin: <%= plant.origin %></strong></p>
              <%# <div class="actions">
                <a href="">Add to my garden</a>
              </div> %>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>

</div>

<%= render "shared/footer" %>
