<%= render "shared/navbar" %>
<h1 class="title">Wikiplant</h1>

<%= form_with url: "", method: :get, class: "d-flex search-bar mb-5" do %>
  <%= text_field_tag :query,
    params[:query],
    class: "form-control",
    placeholder: "Search for plants"
  %>
<% end %>

<div class="container">
  <p class="mb-5 text-centred section-title">Categories</p>

  <div class="category-cards">

  <%= link_to 'plants?query=Fruits+%26+Vegetables', controller: 'plants', action: 'index', query: 'Fruits & Vegetables' do %>
    <div class="card first">
      <p>Fruits & Vegetables</p>
    </div>
  <% end %>

  <%= link_to 'plants?query=Herbs', controller: 'plants', action: 'index', query: 'Herbs' do %>
    <div class="card" style="background-image:url(https://images.unsplash.com/photo-1532092367580-3bd5bc78dd9d?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80)">
      <p>Herbs</p>
    </div>
  <% end %>

  <%= link_to 'plants?query=Water+%26+Aquatic', controller: 'plants', action: 'index', query: 'Water & Aquatic' do %>
    <div class="card" style="background-image: url(https://images.unsplash.com/photo-1490772888775-55fceea286b8?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80);">
      <p>Water & Aquatic</p>
    </div>
  <% end %>

  <%= link_to 'plants?query=Trees', controller: 'plants', action: 'index', query: 'Trees' do %>
    <div class="card" style="background-image: url(https://images.unsplash.com/photo-1441974231531-c6227db76b6e?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1171&q=80);">
      <p>Trees</p>
    </div>
  <% end %>

  <%= link_to 'plants?query=Aloes', controller: 'plants', action: 'index', query: 'Aloes' do %>
    <div class="card" style="background-image: url(https://images.unsplash.com/photo-1568115438880-31f50e299742?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80);">
      <p>Aloes</p>
    </div>
  <% end %>

  <%= link_to 'plants?query=Climbers', controller: 'plants', action: 'index', query: 'Climbers' do %>
  <div class="card" style="background-image: url(https://images.unsplash.com/photo-1568115438880-31f50e299742?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80);">
      <p>Climbers</p>
    </div>
  <% end %>
</div>

  <p class="mt-5 text-centred section-title">All plants in library</p>

  <div class="contenedorCards">
    <% @plants.each do |plant| %>
      <div class="card">
        <%= link_to plant_path(plant) do %>
          <div class="wrapper">
            <div class="colorProd"></div>
            <% if plant.photo.key.nil? %>
              <p>No image</p>
            <% else %>
            <div class="imgProd" style="background-image: url('<%= cl_image_path plant.photo.key %>');"></div>
            <% end %>
            <div class="infoProd">
              <p class="nombreProd"><%= plant.name %></p>
              <p class="extraInfo"><strong><%= plant.scientific_name %></strong></p>
              <p class="extraInfo"><strong>Origin: <%= plant.origin %></strong></p>
              <%# <div class="actions">
                <a href="">Add to my garden</a>
              </div> %>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>

</div>

<%= render "shared/footer" %>
