<%= render 'shared/navbar' %>

<div class="container mb-5">

  <!-- Plant header -->
  <div class="plant-header my-5">
    <%= cl_image_tag @plant.photo.key, class: "plant-img"%>
    <div class="content-text">
      <h2 class="mb-4"><%= @plant.name %></h2>
      <p><strong>Botanical name: </strong><%= @plant.scientific_name %></p>
      <p><strong>Category: </strong><%= @plant.category.name %></p>
      <p><%= @plant.description %></p>
      <h4>Instruction</h4>
      <p><%= @plant.instruction %></p>
      <p><button type="button" class="btn btn-normal" data-bs-toggle="modal" data-bs-target="#exampleModal">Add to garden</button> <span><%= link_to "Wikiplants", "#", class: "btn btn-normal" %></span>  </p>
    </div>
  </div>

  <!-- Conditions -->
  <div class="condition my-5">
    <div class="condition-card">
      <i class="fa-solid fa-cloud-sun icon mb-4"></i>
      <p class="mb-2">Sunlight Exposure</p>
      <p><%= @condition.sun %></p>
    </div>
    <div class="condition-card mb-4">
      <i class="fa-solid fa-water icon mb-4"></i>
      <p class="mb-2">Water</p>
      <p><%= @condition.water %></p>
    </div>
    <div class="condition-card mb-4">
      <i class="fa-solid fa-temperature-quarter icon mb-4"></i>
      <p class="mb-2">Temperature</p>
      <p><%= @condition.climate %></p>
    </div>
  </div>

  <!-- similar plants? -->
  <p class="section-title text-centred mt-5">Similar plants</p>

   <div class="plant-cards">
    <% @plants.first(3).each do |plant| %>
      <div class="card">
        <%= link_to plant_path(plant) do %>

          <% if plant.photo.attached? %>
            <div class="img" style="background-image:url('<%= cl_image_path plant.photo.key %>')";></div>
          <% else %>
            <div class="img-none"><p>No Image</p></div>
          <% end %>

          <div class="text">
            <p class='text-center'><strong><%= plant.name %></strong></p>
            <p class='mb-1'><%= plant.scientific_name %></p>
            <p>Origin: <%= plant.origin %></p>
          </div>

        <% end %>
      </div>
    <% end %>
  </div>

</div>

<%# <h2 class='text-center mt-5'>Similar Plants</h2> %>
<%# @plants.first(3).each do |plant| %>
<%#= plant.name %>
<%#= plant.category.name %>
<%#= cl_image_tag plant.photo.key, width: 100, height: 100 %>
<%# end %>

<%= render 'shared/footer' %>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-body">
      <%= simple_form_for @tag do |f| %>
        <div class="d-flex justify-content-around">
          <%= f.input :age, prompt: "Please select the age", collection:
          ["0 week", "1 week or fewer", "2-3 weeks", "3-5 weeks", "6-8 weeks", "9-10 weeks", "More than 10 weeks"],
          error: 'Age is mandatory, please specify' %>
          <%= f.association :garden, prompt: "Please select a garden", collection: Garden.where(user: current_user) %>
        </div>
        <%= f.input :location, prompt:"Please set a location", collection: %w[Outdoor Indoor], error: 'Location is mandatory, please specify' %>
        <%= f.input :plant_id, as: "hidden", input_html: { value: @plant.id } %>
      <div class="d-flex justify-content-between">
       <button type="button" class="btn btn-light" data-bs-dismiss="modal" style="width:50%">Cancel</button>
       <%= f.submit "Confirm", class:"btn btn-normal", style:"width:50%" %>
      </div>
        <% end %>
      </div>
      </div>
      </div>
    </div>
  </div>
</div>
