<% content_for :meta_title, "#{@plant.name} is on #{DEFAULT_META["meta_product_name"]}" %>
<% content_for :meta_description, @plant.description %>
<% content_for :meta_image, cl_image_path(@plant.photo.key) if @plant.photo.attached? %>

<%= render 'shared/navbar' %>
<div data-controller="weather"> </div>
<!-- Plant header 2 -->
  <div class="plant-wrap">
    <div class="plant-card">
      <div class="plant-card-pic-wrap">
        <%= cl_image_tag @plant.photo.key %>
      </div>
      <div class="plant-card-content">
        <h3><%= @plant.name %></h3>
        <p><strong>Botanical name: </strong><%= @plant.scientific_name %></p>
        <p><strong>Category: </strong><%= @plant.category.name %></p>
        <p><%= @plant.description %></p>
        <a  class="btn btn-normal" data-bs-toggle="modal" data-bs-target="#exampleModal">Add to my garden</a>
      </div>
    </div>
  </div>
  <div class="container">
    <h4 class="text-centred">Instruction</h4>
    <p class="text-centred my-5"><%= @plant.instruction %></p>
  </div>

  <!-- Conditions -->
  <%# <div class="condition my-5">
    <div class="condition-card">
      <i class="fa-solid fa-cloud-sun icon mb-4"></i>
      <p class="mb-2">Sunlight Exposure</p> %>
      <%#= @condition.sun %>
    <%# </div> %>
    <%# <div class="condition-card mb-4">
      <i class="fa-solid fa-water icon mb-4"></i>
      <p class="mb-2">Water</p> %>
      <%#= @condition.water %>
    <%# </div>
    <div class="condition-card mb-4">
      <i class="fa-solid fa-temperature-quarter icon mb-4"></i>
      <p class="mb-2">Temperature</p> %>
      <%#= @condition.climate %>
    <%# </div>
  </div> %>

  <div class="condition-container">
    <div class="conditions-card">
      <i class="fa-solid fa-cloud-sun icon mb-4"></i>
      <%= @condition.sun %>
    </div>
    <div class="conditions-card">
      <i class="fa-solid fa-water icon mb-4"></i>
      <%= @condition.water %>
    </div>
    <div class="conditions-card">
      <i class="fa-solid fa-temperature-quarter icon mb-4"></i>
      <%= @condition.climate %>
    </div>
  </div>

  <!-- similar plants? -->
  <p class="section-title text-centred mt-5">Similar plants</p>

  <div class="contenedorCards">
    <% @plants.first(3).each do |plant| %>
      <div class="card">
        <%= link_to plant_path(plant) do %>
          <div class="wrapper">
            <div class="colorProd"></div>
            <div class="imgProd" style="background-image: url('<%= cl_image_path plant.photo.key %>');"></div>
            <div class="infoProd">
              <p class="nombreProd"><%= plant.name %></p>
              <p class="extraInfo"><strong><%= plant.scientific_name %></strong></p>
              <p class="extraInfo"><strong>Origin: <%= plant.origin %></strong></p>
              <%# <div class="actions">
                <a href="">Add to my garden</a>
              </div> %>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>

</div>

<%# <h2 class='text-center mt-5'>Similar Plants</h2> %>
<%# @plants.first(3).each do |plant| %>
<%#= plant.name %>
<%#= plant.category.name %>
<%#= cl_image_tag plant.photo.key, width: 100, height: 100 %>
<%# end %>

<%= render 'shared/footer' %>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-body">
      <%= simple_form_for @tag do |f| %>
        <div class="d-flex justify-content-around">
          <%= f.input :age, as: :date, html5: true %>
          <%= f.association :garden, prompt: "Please select a garden", collection: Garden.where(user: current_user) %>
        </div>
        <%= f.input :location, prompt:"Please set a location", collection: %w[Outdoor Indoor], error: 'Location is mandatory, please specify' %>
        <%= f.input :plant_id, as: "hidden", input_html: { value: @plant.id } %>
      <div class="d-flex justify-content-between">
       <button type="button" class="btn btn-light" data-bs-dismiss="modal" style="width:50%">Cancel</button>
       <%= f.submit "Confirm", class:"btn btn-normal", style:"width:50%" %>
      </div>
        <% end %>
      </div>
      </div>
      </div>
    </div>
  </div>
</div>
