<%= render "shared/navbar" %>

<% if @gardens.nil? == true %>
    <h1 class="title mt-5">Create a new garden</h1>
  <% else %>
    <h1 class="title mt-5">Your gardens</h1>
<% end %>

<div class="container my-5">

  <% @gardens.each do |garden| %>
    <%= link_to garden_path(garden) do  %>
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1585320806297-9794b3e4eeae?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8Z2FyZGVufGVufDB8MHwwfHw%3D&auto=format&fit=crop&w=500&q=60)">
      <%= garden.name %>
      </div>
    <% end %>
  <% end %>

  <h4 class="text-centred my-5">Create new garden</h4>

  <%= simple_form_for(@garden) do |f| %>
    <%= f.input :name, placeholder: "e.g Garden 1", label: false %>
  <% end %>

</div>

<%= render "shared/footer" %>
